<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div>
            <div>
                <label>
                    Id:
                    <input type="text" name="" id="" v-model="id">
                </label>
            </div>
            <div>
                <label>
                    Name:
                    <input type="text" name="" v-model="name">
                </label>
            </div>
            <div>
                <!-- 在 vue 中 -->
                <input type="button" name="" value="添加" @click="add()">
            </div>
            <div>
                <label>
                    搜索名称关键字：
                    <input type="text" v-model="keywords">
                </label>
            </div>
        </div>


        <div>
            <table style="border:1em">
                <thead>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>Operation</th>
                </thead>
                <tbody>
                    <!-- <tr v-for="user in list" :key="user.id"> -->
                    <!-- 因为循环要根据关键字的改变而改变，所以这里就不能写死，
                            写一个方法，并且根据关键字去检索
                        -->

                    <!-- 之前， v-for 中的数据，都是直接中 data 上的list中直接渲染过来的
                            现在，我们自定义了一个 search 方法，同时，把 所有的关键字，通过传参的形式，传递给了
                            search 方法。
                        -->
                    <!-- 在 search 方法内部，通过执行 for循环，吧所有符合 搜索关键字的的数据，保存到 一个新数组中，返回。 -->
                    <tr v-for="user in search(keywords)" :key="user.id">
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.Ctime }}</td>
                        <td>
                            <a href="#" @click.prevent="del(user.id)">删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript" src="../vue.js"></script>
    <script type="text/javascript">
        var vm = new Vue({
            el: '#app',
            data: {
                id: '',
                name: '',
                keywords: '',
                list: [
                    { id: 1, name: '奔驰', Ctime: new Date() },
                    { id: 2, name: '宝马', Ctime: new Date() }
                ]
            },
            methods: {
                add: function () { //添加的方法
                    // console.log(1);
                    //分析
                    //1、获取到 id 和 name，直接从 data 上面获取。
                    //2、组织处一个对象
                    //3、把这个对象，调用 数组的 相关方法，添加到当前 data 上的 list 中
                    //4、注意：在vue中，已经实现了数据的双向绑定，每当我们修改了 data 中的数据，Vue 会默认监听
                    //    到数据的改动，自动把最新的数据，应用到页面上；

                    //5、当我们意识到上面的第四步的时候，就证明大家已经入门Vue了，我们更多的是在进行 VM 中
                    //  Model 数据的操作，同时，在操作 model 数据的时候，指定的业务逻辑操作；

                    var car = { id: this.id, name: this.name, Ctime: new Date() };
                    this.list.push(car);
                    this.id = this.name = null;
                },
                del: function (id) {   //根据id 删除数据
                    //分析
                    //1、如何根据id，找到要删除这一项的索引
                    //2、如果找到索引了，直接调用 数组的    splice      方法。


                    //some根据指定条件进行判断，如果返回 true ，则 some 就会终止 

                    //第一种方式    
                    // this.list.some((item,i)=>{
                    //     if(item.id == id ){
                    //         this.list.splice(i,1);
                    //         //在数组的 some 方法中，如果 return true 就会立即终止这个数组的后续循环
                    //         return true;
                    //     }
                    // })        



                    //第二种方式
                    var index = this.list.findIndex(item => {
                        if (item.id == id) {
                            return true;
                        }
                    })
                    console.log(index);
                    this.splice(index, 1)
                },
                search(keywords) {
                //第一种方法    
                    // var newList = [];
                    // this.list.forEach(item => {
                    //     if(item.name.indexOf(keywords)!=-1){    
                    //         // indexOf 进行遍历，并返回索引下标， 
                    //         // 当什么都没有时 返回0，不会又-1这个值
                    //         newList.push(item)
                    //     }
                    // })
                    // return newList;


                //第二种方式
                    //注意：  forEach some filter findIndex  这些都属于数组的新方法。
                    //都回对数组中的每一项，进行遍历，执行相关的操作；
                    return this.list.filter(item => {
                        //if(item.name.indexof(keywords) != -1)

                        //注意 ： ES6中，为字符串提供了一个新的方法，叫做 String.prototype.include('要包含的字符串')
                        // 如果包含 ， 则 返回 false
                        // contain
                        if(item.name.includes(keywords)){   //包含 返回 true 不包含 返回false。
                            return item;
                        }
                    })

                },
            }
        });
    </script>
</body>

</html>