<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
</head>

<body>
    <div id="app">

        <!-- 顺序：： 值，键，索引 -->
        <p v-for="(val,key,i) in user">键：{{key}}---值：{{val}}---key:{{i}}</p>

        <!-- 一个就是：值 -->
        <h1 v-for="val in user">键：{{key}}---值：{{val}}---key:{{i}}</h1>

    </div>


    <script src="../vue.js"></script>
    <script >
        var vm=new Vue({
           el:'#app',
           data:{
               user:{
                   id:1,
                   name:'fengfanli',
                   gender:'nan',
               }
        },
           methods:{
        },
    });
    </script>
</body>

</html>